POST_UNDEXER_RPC_URL="https://rpc.namada.info/"
PRE_UNDEXER_RPC_URL="https://rpc-post.namada.info/"
DATABASE_URL=postgresql://localhost/unadexer?user=USER&password=user1234
START_FROM_SCRATCH=true
#NODE_LOWEST_BLOCK_HEIGHT=237908
UNDEXER_API_URL=http://localhost:8888/v2

